<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Acemar</title>
  <script src="/javascript/jquery-3.6.1.min.js"></script>
  <script src="/javascript/calculopuert.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="/style/estilos.css" />
  <link rel="stylesheet" href="/style/formulario.css" />
  <link rel="stylesheet" href="/style/flooring.css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.0/sweetalert2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/sweetalert2@9.5.3/dist/sweetalert2.all.min.js">
  <script src="https://unpkg.com/sweetalert2"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.0/sweetalert2.min.js"></script>
</head>

<body>
  <nav class="navbar">
    <img src="/images/redes/LOGO-Acemar-Gris-2020 US.png" class="navbar-brand ms-5" alt="" width="auto" height="70">
    <ul class="nav justify-content-end me-5">
      <li class="nav-item">
        <a class="nav-link bg-light text-secondary" href="/pisos">Floorings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="/lista">Quoter</a>
      </li>
      <li class="nav-item">
        <a href="/"><i class="fa-solid fa-arrow-right-from-bracket mt-3 ms-3 text-secondary fs-5"></i></a>
      </li>
    </ul>
    <div class="mt-2 linea"></div>
  </nav>
  <div class="pt-5 ms-auto me-auto mb-5 completo">
    <div class="cont">
      <% if (datos) { if(precio){%>
        <div class="foto">
          <img class="presentacion" id="imgproducto" src="/images/flooring/<%=datos.directorio%>/<%=datos.imgpiso%>" />
        </div>
        <div class="formulario me-3 pe-5 mt-5 container">
          <input type="hidden" id="core" value="<%= datos.core%>">
          <input type="hidden" id="thickness1" value="<%= datos.thickness1%>">
          <input type="hidden" id="thickness3" value="<%= datos.thickness3%>">
          <input type="hidden" id="length1" value="<%= datos.length1%>">
          <input type="hidden" id="length3" value="<%= datos.length3%>">
          <input type="hidden" id="width" value="<%= datos.width%>">
          <input type="hidden" id="codigo" value="<%= datos.codigo%>">
          <h5 style="
              font-weight: bold;
              text-transform: capitalize;
              text-align: center;
            ">
            <%= datos.producto%>
          </h5>
          <form action="/piso" method="post" id="pisos" class="mt-auto">
            <input type="hidden" id="id" name="id" value="<%= datos.id%>">
            <input type="hidden" id="producto" name="producto" value="<%= datos.producto%>">
            <input type="hidden" id="imagen" class="imagen" value="<%= datos.directorio%>/<%= datos.imgpiso%>"
              name="imagen">
            <input type="hidden" id="layer1" name="layer1" value="<%= precio.layer1%>">
            <input type="hidden" id="layer3" name="layer3" value="<%= precio.layer3%>">
            <input type="hidden" id="cod1" name="cod1" class="cod1" value="<%= datos.cod1%>">
            <input type="hidden" id="cod3" name="cod3" class="cod3" value="<%= datos.cod3%>">
            <input type="hidden" id="stock" class="stock" value="<%= datos.inventario%>">
            <input type="hidden" id="stock3" class="stock3" value="<%= datos.inventario3%>">
            <div class="adicional bg-light border ms-auto me-auto pt-2 ps-3">
              <h6>Grade: 40% Clear, 40% Semiclear, 20% Character
                Core: Solid Teakwood</h6>
            </div>
            <li class="li-sec caja">
              <img src="/images/icons/simbolos pagina web- core.png"
                style="height: 31px; margin: auto; margin-right: 10px" />
              <label class="label-sec">Wear Layer</label>
              <select required class="form-select form-select-sm selected-line" id="grosor" name="grosor"
                onchange="piso();" aria-label=".form-select-sm example">
                <option value="">Select</option>
                <option value="1.5">1.5 mm</option>
                <option value="3">3 mm</option>
              </select>
            </li>
            <li class="li-sec caja">
              <img src="/images/icons/simbolos pagina web-quantity.png"
                style="height: 35px; margin: auto; margin-right: 10px" />
              <label class="label-sec">pallets</label>
              <br />
              <input class="input-number" name="cantidad" id="cantidad" type="number" onchange="piso();" value="1"
                min="1"/>
              <br>
            </li>
            <h6 class="li-sec caja" id="inv1">stock: <%= datos.inventario%>
            </h6>
            <h6 class="li-sec caja" id="inv3">stock: <%= datos.inventario3%>
            </h6>
            <div class="palet bg-light border ms-5 me-auto pt-2 ps-3">
              <h6>Boxes x Pallet: <span id="box"></span>
                <br>
                SQF x Pallet: <span id="sqf"></span>
              </h6>
            </div>
            <div class="linea-total"></div>
            <label class="label-sec total" name="total">Total: </label>
            <span id="prec" name="prec"></span>
            <div class="text-center">
              <input type="submit" value="Add to Quote" id="agregar"
                class="btn btn-warning btn btn-outline-light ms-5 agregar" />
            </div>
          </form>
        </div>
    </div>
    <% }}%>
  </div>
  <footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="border bg-light container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-center">
          <div class="text-center">
            <div class="row">
              <h5 class="mt-5"><em>Sites of interest</em></h5>
              <a href="https://athomefloors.biz/" class="text-decoration-none text-dark mt-1"><em>Colortile</em></a>
              <a href="https://www.acemar.co/" class="text-decoration-none text-dark mt-1 "><em>Acemar</em></a>
            </div>
          </div>
          <div class="mt-4">
            <!--Icono de Facebook-->
            <a class="btn text-white btn-floating m-1" style="background-color: #000000;"
              href="https://www.facebook.com/people/Acemar-Wood/100076103297662/" role="button"><i
                class="fab fa-facebook-f"></i></a>
            <!--Icono de Twitter-->
            <a class="btn text-white btn-floating m-1" style="background-color: #000000;"
              href="https://twitter.com/Acemar1958" role="button"><i class="fab fa-twitter"></i></a>
            <!--Icono de Instagram-->
            <a class="btn text-white btn-floating m-1" style="background-color: #000000;"
              href="https://www.instagram.com/acemarwood/?utm_medium=copy_link" role="button"><i
                class="fab fa-instagram"></i></a>
            <!--Icono de Linkendin-->
            <a class="btn text-white btn-floating m-1" style="background-color: #000000;"
              href="https://www.linkedin.com/in/triplex-acemar-sas-06323556" role="button"><i
                class="fab fa-linkedin-in"></i></a>
            <!--Icono de YouTube-->
            <a class="btn text-white btn-floating m-1" style="background-color: #000000;"
              href="https://www.youtube.com/channel/UCbMSDNFB8H_g1aHDDE-jcnA?view_as=subscriber" role="button"><i
                class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 col-sm-1 col-xs-2">
          <div class="map-responsive">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3526.17503655854!2d-82.76075328552254!3d27.896601423757517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2faeae4eaaaab%3A0xffbbd9ca69894ee9!2s2310%20Tall%20Pines%20Dr%20Suite%20230%2C%20Largo%2C%20FL%2033771%2C%20EE.%20UU.!5e0!3m2!1ses!2sco!4v1663612375888!5m2!1ses!2sco"
              width="675" height="300px" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>
</body>
<script src="/javascript/pisos.js"></script>

</html>