<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acemar</title>
    <script src="/javascript/jquery-2.1.4.min.js"></script>
    <script src="/javascript/jquery-3.6.1.min.js"></script>
    <script src="/javascript/calculoform.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style/estilos.css" />
    <link rel="stylesheet" href="/style/formulario.css" />
  </head>

  <body>
    <header>
      <ul>
        <div class="img-nav">
          <img
            class="img-nav"
            src="/images/redes/LOGO-Acemar-Gris-2020 US.png"
          />
        </div>
        <ul class="nav justify-content-end quoter-ul">
          <li class="nav-item">
            <a href="../prueba" aria-current="page" class="Quoter-nav"
              >Quoter</a
            >
          </li>
          <li>
            <a class="text-black cerrarlog" style="color: black" href="/"
              >Home</a
            >
          </li>
        </ul>
      </ul>
    </header>
    <div class="linea"></div>
    <div class="completo">
      <div class="contenido">
        <div class="foto">
          <% if (datos) { if (cod) { %>
          <input type="hidden" value="<%= datos.codigo%>" id="cod" />
          <input type="hidden" value="<%= datos.id%>" id="id" />
          <input type="hidden" value="<%= cod.inicial%>" id="codinicial" />
          <input type="hidden" value="<%= cod.marco%>" id="codmarco" />
          <input type="hidden" value="<%= cod.color%>" id="codcolor" />
          <input type="hidden" value="<%= cod.finish%>" id="codfinish" />
          <input type="hidden" value="<%= cod.kerfs%>" id="codkerfs" />
          <input type="hidden" value="<%= cod.core%>" id="cores" />
          <input type="hidden" value="<%= cod.veneer%>" id="ven" />
          <input type="hidden" value="<%= datos.conhigth%>" id="chig" />
          <input type="hidden" value="<%= datos.sinhight%>" id="shig" />
          <%}%>
          <img
            class="presentacion"
            id="imgproducto"
            src="/images/productos/<%= datos.directorio%>/<%= datos.imgpuerta%>"
          />
        </div>
        <div class="container">
          <div class="center">
            <input
              height="300"
              id="mrpuert"
              class="mrpuert"
              type="hidden"
              src="/images/productos/marcos/<%= datos.imgmarco%>"
            />
          </div>
        </div>
        <div class="formulario">
          <h5
            style="
              font-weight: bold;
              text-transform: capitalize;
              text-align: center;
            "
          >
            <%= datos.producto%>
          </h5>

          <input
            type="hidden"
            value="<%= datos.imgmarco%>"
            name="marco"
            id="marco"
          />
          <form action="/prueba" method="post" id="vacas-form">
            <input
              type="hidden"
              value="<%= datos.directorio%>/<%= datos.imgpuerta%>"
              name="puerta"
              id="imgpuerta"
            />
            <input
              type="hidden"
              value="<%= datos.producto%>"
              name="nombre"
              id="producto"
            />
            <input
              type="hidden"
              value="<%= datos.finish%>"
              name="acabado"
              id="finish"
            />
            <ul>
              <div>
                <li class="li-sec caja">
                  <img
                    src="/images/icons/simbolos pagina web- Height.png"
                    style="
                      height: 30px;
                      width: 20px;
                      margin: auto;
                      margin-right: 10px;
                    "
                  />
                  <label class="label-sec" style="margin-left: 10px"
                    >Hight</label
                  >
                  <select
                    class="form-select form-select-sm selected-line"
                    aria-label=".form-select-sm example"
                    name="hight"
                    id="hight"
                  >
                    <option selected>Select</option>
                    <option value="80">80"</option>
                    <option value="84">84"</option>
                    <option value="95">95"</option>
                    <option value="108">108"</option>
                    <option value="120">120"</option>
                  </select>
                </li>
                <li class="li-sec caja">
                  <img
                    src="/images/icons/simbolos pagina web- width.png"
                    style="height: 10px; width: 30px; margin: auto"
                  />
                  <label class="label-sec">Width</label>
                  <select
                    class="form-select form-select-sm selected-line"
                    aria-label=".form-select-sm example"
                    name="width"
                    id="width"
                  >
                    <option selected>Select</option>
                    <option value="24">24"</option>
                    <option value="28">28"</option>
                    <option value="30">30"</option>
                    <option value="32">32"</option>
                    <option value="36">36"</option>
                  </select>
                </li>
                <li class="li-sec caja">
                  <img
                    src="/images/icons/simbolos pagina web- opening.png"
                    style="height: 30px; margin: auto; margin-right: 10px"
                  />
                  <label class="label-sec">Opening</label>
                  <select
                    class="form-select form-select-sm selected-line"
                    aria-label=".form-select-sm example"
                    id="opening"
                    name="opening"
                  >
                    <option selected>Select</option>
                    <option value="Outside Right">Outside Right</option>
                    <option value="Outside Left">Outside Left</option>
                  </select>
                </li>
                <li class="li-sec caja" id="corese">
                  <img
                    src="/images/icons/simbolos pagina web- core.png"
                    style="height: 31px; margin: auto; margin-right: 10px"
                  />
                  <label class="label-sec">Core</label>
                  <select
                    class="form-select form-select-sm selected-line"
                    aria-label=".form-select-sm example"
                    name="core"
                    onchange="marco();"
                    id="coreshjgjhg"
                  >
                    <option value="Solid">Select</option>
                    <option value="Honey Comb">Honey Comb</option>
                    <option value="Solid">Solid</option>
                  </select>
                </li>

                <li class="li-sec caja">
                  <img
                    src="/images/icons/simbolos pagina web-frame.png"
                    style="
                      height: 45px;
                      width: 20px;
                      margin: auto;
                      margin-right: 10px;
                    "
                  />
                  <label class="label-sec">Frame</label>
                  <select
                    class="form-select form-select-sm selected-line"
                    aria-label=".form-select-sm example"
                    id="cbxLenguajes"
                    onchange="marco();"
                    name="frame"
                  >
                    <option value="">Select</option>
                    <option value="<%= datos.conmarco%>">Yes</option>
                    <option value="<%= datos.sinmarco%>">No</option>
                    <input
                      type="hidden"
                      value="<%= datos.conmarco%>"
                      id="precio"
                      name="precio"
                    />
                  </select>
                </li>
                <li class="li-sec caja">
                  <img
                    src="/images/icons/simbolos pagina web-thickness.png"
                    style="height: 30px; margin: auto; margin-right: 10px"
                  />
                  <label class="label-sec">Thickness</label>
                  <select
                    class="form-select form-select-sm selected-line"
                    aria-label=".form-select-sm example"
                    name="Thickness"
                    id="Thickness"
                  >
                    <option selected>Select</option>
                    <option value='1"1/8(28mm)'>1"1/8(28mm)</option>
                    <option value='1"1/2(38mm)'>1"1/2(38mm)</option>
                    <option value='1"5/8(42mm)'>1"5/8(42mm)</option>
                    <option value='2"1/8(54mm)'>2"1/8(54mm)</option>
                  </select>
                </li>
              </div>
              <!--desde aca comienza la generacion de los codigos-->
              <li class="li-sec caja" id="col">
                <img
                  src="/images/icons/simbolos pagina web- core.png"
                  style="height: 31px; margin: auto; margin-right: 10px"
                />
                <label class="label-sec">Color</label>
                <select
                  class="form-select form-select-sm selected-line"
                  aria-label=".form-select-sm example"
                  name="color"
                  id="colores"
                  onchange="marco();"
                  onchange="change();"
                >
                  <option value="">Select</option>
                  <option value="W1">White</option>
                  <option value="G1">Mocca</option>
                  <option value="M1">Gray</option>
                </select>
              </li>
              <li class="li-sec caja" id="venne">
                <img
                  src="/images/icons/simbolos pagina web- core.png"
                  style="height: 31px; margin: auto; margin-right: 10px"
                />
                <label class="label-sec">venner</label>
                <select
                  class="form-select form-select-sm selected-line"
                  aria-label=".form-select-sm example"
                  name="venner"
                  id="elvenner"
                >
                  <option value="">Select</option>
                  <option value="-40">Beech Crown</option>
                  <option value="-12">Bercy</option>
                  <option value="-13">Botzaris</option>
                  <option value="-14">Charonne</option>
                  <option value="-43">Eucaliptus Crown</option>
                  <option value="-17">Jatoba Crown</option>
                  <option value="-19">Khaya Crown</option>
                  <option value="-15">Light Pale</option>
                  <option value="-16">Mont Martre</option>
                  <option value="-10">Oak Crown</option>
                  <option value="-11">Oak Rift</option>
                  <option value="-18">Praia</option>
                  <option value="-57">Red Oak Crown</option>
                  <option value="-90">Red Oak Rift</option>
                  <option value="-20">Roseaux</option>
                  <option value="-29">Teak Rift</option>
                  <option value="-48">Walnut Crown</option>
                  <option value="-37">Walnut Rift</option>
                  <option value="-41">White Oak Crown</option>
                  <option value="-91">White Oak Rift</option>
                </select>
              </li>
              <li class="li-sec caja" id="Kerfs">
                <img
                  src="/images/icons/simbolos pagina web- core.png"
                  style="height: 31px; margin: auto; margin-right: 10px"
                />
                <label class="label-sec">Kerfs</label>
                <select
                  class="form-select form-select-sm selected-line"
                  aria-label=".form-select-sm example"
                  name="color"
                  id="Kerfs"
                >
                  <option value="">Select</option>
                  <option value="-4k">1K</option>
                  <option value="-5k">2K</option>
                  <option value="-9k">3K</option>
                  <option value="-6k">4K</option>
                  <option value="-6k">5K</option>
                  <option value="-6k">6K</option>
                  <option value="-6k">9K</option>
                </select>
              </li>
              <li class="li-sec caja" id="finsh">
                <img
                  src="/images/icons/simbolos pagina web- core.png"
                  style="height: 31px; margin: auto; margin-right: 10px"
                />
                <label class="label-sec">Finish</label>
                <select
                  class="form-select form-select-sm selected-line"
                  aria-label=".form-select-sm example"
                  name="finish"
                  id="finihshddd"
                  onchange="marco();"
                  onchange="change();"
                >
                  <option value="">Select</option>
                  <option value="M">matt</option>
                  <option value="H">high gloss</option>
                </select>
              </li>
              <!--aca terminan los select del codigo-->
              <li class="cantidad">
                <img
                  src="/images/icons/simbolos pagina web-quantity.png"
                  style="height: 35px; margin: auto; margin-right: 10px"
                />
                <label class="label-sec">Quantity</label>
                <br />
                <input
                  class="input-number"
                  id="cantidad"
                  type="number"
                  onchange="marco();"
                  value="1"
                />
              </li>
              <li>
                <div class="linea-total" style="background-color: black"></div>
                <label class="label-sec total" name="total">Total: </label>
                <span id="lblLenguajeSeleccionado"></span>
              </li>
            </ul>
            <input
              type="submit"
              value="Agregar cotizador"
              id="agregar"
              class="btn btn-warning btn btn-outline-light agregar"
            />
            <input
              type="hidden"
              name="juan"
              value="/images/productos/marcos/<%=datos.imgmarco%>"
            />
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <footer class="footer">
      <div class="part">
        <div class="sec" style="margin-left: 15%">
          <h5 class="tit-footer">Sites of interest</h5>
          <ul>
            <a
              style="text-decoration: none; color: white"
              class="cont-footer"
              href="https://athomefloors.biz/"
              >Colortile</a
            >
          </ul>
          <ul>
            <a
              style="text-decoration: none; color: white"
              class="cont-footer"
              href="https://www.acemar.co/"
              >Acemar</a
            >
          </ul>
          <div class="social" style="margin-left: -20%">
            <a
              href="https://www.facebook.com/people/Acemar-Wood/100076103297662/"
              ><img src="/images/redes/facebook.jpg" alt=""
            /></a>
            <a href="https://www.instagram.com/acemarwood/?utm_medium=copy_link"
              ><img
                style="
                  height: 30px;
                  width: 30px;
                  margin-top: 30%;
                  margin-right: 20px;
                "
                src="/images/redes/instagram.jpg"
                alt=""
            /></a>
            <a href="https://twitter.com/Acemar1958"
              ><img
                style="
                  height: 30px;
                  width: 30px;
                  margin-top: 40%;
                  margin-right: 10px;
                "
                src="https://iconsplace.com/wp-content/uploads/_icons/ffffff/256/png/twitter-icon-18-256.png"
                alt=""
            /></a>
            <a href="https://www.linkedin.com/in/triplex-acemar-sas-06323556"
              ><img src="/images/redes/LinkedIn.jpg" alt=""
            /></a>
            <a
              href="https://www.youtube.com/channel/UCbMSDNFB8H_g1aHDDE-jcnA?view_as=subscriber"
              ><img src="/images/redes/YouTube.jpg" alt=""
            /></a>
          </div>
        </div>

        <div class="maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3526.17503655854!2d-82.76075328552254!3d27.896601423757517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2faeae4991bd7%3A0x93b550d0f6a385a4!2s2310%20Tall%20Pines%20Dr%2C%20Largo%2C%20FL%2033771%2C%20EE.%20UU.!5e0!3m2!1ses!2sco!4v1665514952999!5m2!1ses!2sco"
            width="675"
            height="300"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </footer>
  </body>
  <script>
    var color = document.getElementById("codcolor").value;
    var finish = document.getElementById("codfinish").value;
    var kerfs = document.getElementById("codkerfs").value;
    var core = document.getElementById("cores").value;
    var venr = document.getElementById("ven").value;
    if (color == "false") {
      document.getElementById("col").id = "sfinsh";
    }
    if (finish == "false") {
      document.getElementById("finsh").id = "sfinsh";
    }
    if (kerfs == "false") {
      document.getElementById("Kerfs").id = "sfinsh";
    }
    if (core == "false") {
      document.getElementById("corese").id = "sfinsh";
    }
    if (venr == "false") {
      document.getElementById("venne").id = "sfinsh";
    }
  </script>
  <script>
    colores.addEventListener("change", () => {
      imgproducto.setAttribute(
        "src",
        "/images/productos/<%= datos.directorio%>/" +
          finihshddd.selectedOptions[0].value +
          colores.selectedOptions[0].value +
          ".jpg"
      );
    });
    finihshddd.addEventListener("change", () => {
      imgproducto.setAttribute(
        "src",
        "/images/productos/<%= datos.directorio%>/" +
          finihshddd.selectedOptions[0].value +
          colores.selectedOptions[0].value +
          ".jpg"
      );
    });
  </script>
  <script>
    elvenner.addEventListener("change", () => {
      imgproducto.setAttribute(
        "src",
        "/images/productos/<%= datos.directorio%>/" +
          elvenner.selectedOptions[0].value +
          ".jpg"
      );
    });
  </script>

  <script src="/javascript/funciones.js"></script>
</html>
