<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/estilos.css" />
    <link rel="stylesheet" href="style/guardados.css" />
</head>

<body>
    <div id="areaImprimir">
        <header>
            <ul>
                <div class="img-nav">
                    <img class="img-nav"
                        src="https://acemardistributor.com/wp-content/uploads/2022/07/LOGO-Acemar-Gris-2020.png" />
                </div>
                <ul class="nav justify-content-end quoter-ul">
                    <li class="nav-item ">
                        <a href="javascript:history.back()" class="atras">Back</a>
                    </li>
                </ul>
            </ul>
        </header>
        <div class="linea"></div>
        <div class="titulo">
            <label class="arr"><b> DISTRIBUTORS QUOTATION</b></label>
        </div>
        <form class="eliminar-anim">
            <table>
                <thead>
                    <th>#</th>
                    <th>Producto</th>
                    <th>Codigo</th>
                    <th>Foto</th>
                    <th>Frame</th>
                    <th>Foto</th>
                    <th>Height</th>
                    <th>Width</th>
                    <th>Finish</th>
                    <th>Opening</th>
                    <th>Core</th>
                    <th>Thickness</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Eliminar</th>
                </thead>
                <div>
                    <tbody>
                        <% datos.forEach(function (datos) { %>
                            <tr>
                                <td>
                                    <input type="hidden" class="id" value="<%= datos.id%>">
                                </td>
                                <td>
                                    <%= datos.producto%>
                                </td>
                                <td>
                                    <%= datos.codigo%>
                                </td>
                                <td>
                                    <input type="image" src="images/productos/<%= datos.imgpuerta%>" height="100px">
                                </td>
                                <td>
                                    <%= datos.frame%>
                                </td>
                                <td>
                                    <input type="image" src="images/productos/<%= datos.imgframe%>" height="70px">
                                </td>
                                <td>
                                    <%= datos.height%>
                                </td>
                                <td>
                                    <%= datos.width%>
                                </td>
                                <td>
                                    <%= datos.finish%>
                                </td>
                                <td>
                                    <%= datos.opening%>
                                </td>
                                <td>
                                    <%= datos.core%>
                                </td>
                                <td>
                                    <%= datos.thickness%>
                                </td>
                                <td>
                                    <%= datos.quantity%>
                                </td>
                                <td>
                                    <%= datos.total%>
                                </td>
                                <td>
                                    <button type="submit" class="elim btn-eli-pro"> <img class="img-del"
                                            src="images/icons/eliminar.png" /></button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </div>
            </table>
        </form>
        <div class="conpacto">
            <div class="informacion">
                <label for="">2310 Tall Pines Drive - Suite 230, Largo Florida 33771</label>
                <br>
                <label for="">727 584 3711</label>
                <br>
                <label for="">sales@acemar.us</label>
            </div>
            <div class="ultimo">
                <div class="tot">
                </div>
                <div class="calc">
                    <b><label class="precio">subtotal:</label></b>
                    <%= pagar[0].comprando%>
                        <input type="hidden" value="<%= pagar[0].comprando%>" class="total" id="total" name="">
                        <br>
                        <b><span>impuesto: </span></b><span>27%</span>
                        <br>
                        <b><label class="precio">flete:</label></b>
                        <span id="subtotal"></span>
                        <br>
                        <b><label class="precio">total:</label></b>
                        <span id="lblLenguajeSeleccionado"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-eli">
        <button type="submit" class="btn-del" onclick="printDiv('areaImprimir')"> <img src="images/icons/impresora.png"
                height="80" width="100" /></button>
    </div>
</body>
<script src="javascript/jquery-3.6.1.min.js"></script>
<script src="javascript/eliguardatos.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        let doc = $('.total');
        let d = doc.val();
        let can = $('.cantidad');
        let c = can.val();
        let flete = 0, imp = 0, impuesto = 0, total = 0;
        if (c < 120) {
            flete = 8000;
        }
        else {
            flete = 10000;
        }
        imp = flete * 0.27;
        impuesto = flete + imp;
        total = Number(impuesto) + Number(d);
        document.getElementById('subtotal').innerText = `${flete}`;
        document.getElementById('lblLenguajeSeleccionado').innerText = `${total}`;
    });
</script>
<script>
    function printDiv(nombreDiv) {
        var contenido = document.getElementById(nombreDiv).innerHTML;
        var contenidoOriginal = document.body.innerHTML;
        document.body.innerHTML = contenido;
        window.print();
        document.body.innerHTML = contenido;
    }
</script>

</html>