<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acemar</title>
    <script src="javascript/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style/estilos.css" />
    <link rel="stylesheet" href="style/guardados.css" />
    <script src="/javascript/elimcarrito.js"></script>
    <script src="/javascript/html2pdf.bundle.min.js"></script>
    <script src="/javascript/pdf.js"></script>
</head>

<body>
    <div id="pdf">
        <nav class="navbar">
            <a class="navbar-brand ms-5" href="index">
                <img src="/images/redes/LOGO-Acemar-Gris-2020 US.png" alt="" width="auto" height="70">
            </a>
            <ul class="nav justify-content-end me-5">
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="pisos">Floorings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-light text-secondary" href="lista">Quoter</a>
                </li>
                <li class="nav-item">
                    <a href="/"><i class="fa-solid fa-arrow-right-from-bracket mt-3 ms-3 text-secondary fs-5"></i></a>
                </li>
            </ul>
            <div class="mt-2 linea"></div>
        </nav>
        
            <table id="tabla">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Sku</th>
                        <th>Image</th>
                        <th>Top Layer</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <% datos.forEach(function (datos) {%>
                        <input type="hidden" value="<%= datos.id_enc%>" id="codigo" class="col-12 val id">
                        <input type="hidden" name="id_cliente" value="<%= datos.id_cliente%>"
                            class="col-12 val id_cliente">
                        <input type="hidden" value="<%= datos.id_piso%>" class="col-12 val idpiso" id="idpiso" name="idpiso">
                        <input type="hidden" value="<%= datos.cantidad%>" class="col-12 val cant">
                        <input type="hidden" value="<%= datos.precio%>" class="col-12 val precio" name="precio">
                        <tr>
                            <td></td>
                            <td>
                                <%= datos.producto%>
                            </td>
                            <td>
                                <%= datos.codigo%>-W-UT-RT10
                            </td>
                            <td><img src="images/flooring/<%=datos.imagen%>" class="puer" alt=""></td>
                            <td>
                                <%= datos.layer%>mm
                            </td>
                            <td>
                                <%= datos.cantidad%>
                            </td>
                            <td>
                                <%= datos.precio%>
                            </td>
                            <td>
                                <input type="submit" class="elim btn btn-warning" value="Remove" name="elim">
                            </td>
                        </tr>
                        <% }) %>
                            <input type="hidden" value="<%= prec[0].sum %>" name="total">
                </tbody>
            </table>
            <input type="hidden" value="<%= fac[0].id_factura %>" name="factura">

            <div id="areaImprimir" class="text-center">
                <div class="conpacto">
                    <div class="informacion">
                        <label for="">2310 Tall Pines Drive - Suite 230, Largo Florida 33771</label>
                        <br>
                        <label for="">727 584 3711</label>
                        <br>
                        <label for="">sales@acemar.us</label>
                    </div>
                </div>
            </div>
            <div class="ultimo">
                <div>
                    <label for="">Subtotal:</label>
                    <span id="subtotal">
                        <%= prec[0].sum %>
                    </span>
                    <br>
                    <label for="">Taks: </label>
                    <span>0%</span>
                    <br>
                    <label for="">Shipping: </label>
                    <span id="flete"></span>
                    <br>
                    <label for="">Total: </label>
                    <span id="final">
                        <%= prec[0].sum %>
                    </span>
                </div>
            </div>
    </div>
    <div class="btn-eli">
        <input type="submit" value="Finish" class="btn btn-secondary me-5">
    </div>
    
    <div class="btn-eli">
        <button id="btnCrearPdf" class="btn btn-secondary me-5 final">PDF</button>
    </div>
</body>
<script src="/javascript/preclist.js"></script>

</html>