<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ejemplo de tabla</title>
    <script src="/javascript/pdf.js"></script>
</head>

<body>
    <form action="/finalizar" method="post">
        <table id="tabla">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>SKU</th>
                    <th>Image</th>
                    <th>Top Layer</th>
                    <th>Pallets</th>
                    <th>SQF per Pallet</th>
                    <th>Boxes per pallet</th>
                    <th>SQL per Box</th>
                    <th>Unit Price SQF</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% datos.forEach(function (datos) {%>
                    <input type="hidden" value="<%= datos.id_enc%>" id="codigo" class="col-12 val id">
                    <input type="hidden" name="id_cliente" value="<%= datos.id_cliente%>" class="col-12 val id_cliente">
                    <input type="hidden" value="<%= datos.id_piso%>" class="col-12 val idpiso" id="idpiso"
                        name="idpiso">
                    <input type="hidden" value="<%= datos.cantidad%>" class="col-12 val cant">
                    <input type="hidden" value="<%= datos.precio%>" class="col-12 val precio" name="precio">
                    <tr>
                        <td></td>
                        <td>
                            <%= datos.producto%>
                        </td>
                        <td>
                            <%= datos.codigo%>-W-UT-RT10
                        </td>
                        <td><img src="images/flooring/<%=datos.imagen%>" class="puer" alt=""></td>
                        <td>
                            <%= datos.layer%>mm
                        </td>
                        <td>
                            <%= datos.cantg%>
                        </td>
                        <td>
                            <%= datos.sqf%>
                        </td>
                        <td>
                            <%= datos.box%>
                        </td>
                        <td>
                            <%= datos.sqfbox%>
                        </td>
                        <td>
                            <%= datos.precun%>
                        </td>
                        <td>
                            <%= datos.precg%>
                        </td>
                        <td>
                            <input type="submit" class="elim btn btn-warning" value="Remove" name="elim">
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <input type="submit">
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.17/jspdf.plugin.autotable.min.js"></script>

</body>

</html>